.page-footer {
    background-color: #222222;
    color: white !important;
    position: relative;
    top: 100px;
}
.description{
    margin-left: 50px !important;
}
.footer-copyright{
    margin-left: 50px;
}
.footer-github{
    margin-right: 50px;
}
.creators{
    text-align: right;
    position: absolute;
    margin-right: 0px;
    margin-left: 64% !important;
}
h5{
    color: #fcd94a;
}