nav {
    background-color: 
    #fcd94a;
    padding-left: 30px;
}
.brand{
    color: #222222 !important;
    font-family: 'Francois One', sans-serif;
}
.rightBtn{
    background-color: #222222;
    border-radius: 40px;
    font-family: 'Dosis', sans-serif;
}